
body{
    background: linear-gradient(#F3F5FC 0%, #EFF1FA 33.33%, #E9ECF8 66.67%, #AAB2D5 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
}

body::before {
    background-image: url("Dibujos/Muñeco20.png");
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}



.contenedor-principal{
    display: flex;
    width: 940px;
    height: 600px;
    /*border: 1px solid black;*/
}
.logo-texto-botones{
    width:  960px;
    height: 600px;
    /*border: 1px solid black;*/
}

.logo{
    position: relative;
    padding-top: 0px;
    width: 120px;
    height: 84px;
    /*border: 1px solid black;*/
    margin: 20px 0 0 20px;
    
}

.texto-usuario{
    position: absolute;
    display: flex;
    width: 400px;
    height: 300px;
    border:none;
    margin: 20px 0 0 16px;
    /*box-shadow: -10px 10px 30px #AAB2D5;*/
    margin-left: 140px;
    margin-top: 5px;
    border-radius: 5px;
}

.input-padron{
    background: rgba(10, 56, 113, 0.02 );
    width: 400px;
    height: 300;
    resize: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    /*font-weight: bold;*/
    font-size: 25px;
    color: #0A3871;
    
}

.input-padron::placeholder{
    color: #0A3871;
    font-size: 20px;
    font-weight: normal;
}

.input-padron:active, .input-padron:focus{
    border: none;
    outline: none;
}

.encriptado{
    position: relative;
    width: 480px;
    height: 600px;
    /*border: 1px solid black;*/
}

.resultado{
    background-color: white;
    display: block;
    width: 280px;
    height: 552px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px 0 0 16px;
    box-shadow: -10px 10px 30px #AAB2D5;
    
}
.muneco{
    margin-top: 10px;
}

.texto-ningun{
    cursor: pointer;
    position: relative;
    width: 280px;
    height: 50px;
    margin: 340px 0 0 0px;
    /*border: 1px solid black;*/
}

.imagen{
    width: 80%;
    float: left;
    margin: 100px 0 0 30px;
}

h1{
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    
}

h2{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

.botones{
    position: absolute;
    display: flex;
    margin: 340px 0 0 140px;
    gap: 2em;
    width: 400px;
    height: 60px;
    
}

.boton-mando{
    display: block;
    background-color: #0A3871;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-bottom: none;
}
